.body {
    font-family: 'Times New Roman', Time, serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
.header {
    background-color: rgb(253, 245, 243);
    color: white;
    text-align: center;
    padding: 1rem;
}

.headsize {
    color:rgba(68, 68, 69, 1);
}
.picture {
    max-width: 100%;
    height: auto;
    margin: 1rem;
    margin: 1rem;
}

.foot {
    text-align: center;
    padding: 1rem;
    background-color: whitesmoke;
    color: black;
}
.whatever {
    padding: 2rem;
    background-color: rgb(104, 104, 130);
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(219, 215, 222)
}

.text {
    text-align: center;
    font-size: 18px;
}